<h1>app</h1>

<!--<a routerLink="first">first</a>-->
<!--<br>-->
<!--<a [routerLink]="['second']">second</a>-->
<!--<br>-->
<!--&lt;!&ndash;<a [routerLink]="[{outlets : {primary:'first',xxx :'second' }}]">init two outlets</a>&ndash;&gt;-->


<!--<router-outlet></router-outlet>-->
<!--&lt;!&ndash;<router-outlet name="xxx"></router-outlet>&ndash;&gt;-->

<div #target> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam aspernatur cupiditate id impedit
  incidunt
  iure, maiores minus non odio officiis, quae quia quisquam reiciendis reprehenderit repudiandae totam ullam vero?
</div>

<app-first-child></app-first-child>
<app-second-child></app-second-child>
